---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
import Modal from "./Modal.astro";

// Committees Section
const features: Array<FeatureItem> = [
  {
    title: "AIPPM",
    subtitle: "ALL INDIA POLITICAL PARTY MEET",
    description:
      "AIPPM in Model United Nations is a dynamic simulation centering on India's political scene. Delegates, embodying diverse political parties, discuss and formulate resolutions on national and regional policies. Through negotiations and coalition building, AIPPM enriches participants' comprehension of Indian politics and policy-making.",
    icon: "mdi:handshake",
    popup_title: "AIPPM Agenda",
    popup_agenda1: "The Places of Worship Act: A Mechanism for Settlement or an Obstacle to Resolution?",
    popup_agenda2: "Review and consideration of electoral reforms in India prior to the 2024 general elections.",
    executive1:"Akash Degala",
    executive2:"Shreyash Pandey",
  },
  {
    title: "UNHRC",
    subtitle: "UNITED NATIONS HUMAN RIGHTS COUNCIL",
    description:
      "UNHRC in Model United Nations is a pivotal committee addressing global human rights issues. Delegates represent diverse countries, collaborating to promote and protect human rights universally.They tackle pressing concerns like freedom of expression and gender equality. UNHRC plays a crucial role in raising awareness and taking action to ensure human rights for all.",
    icon: "mdi:human",
    popup_title: "UNHRC Agenda",
    popup_agenda1: "Protection of Human Rights in the Digital Era",
    popup_agenda2: "Ensuring the Protection of Human Rights for Individuals Affected by the Israel-Hamas Conflict",
    executive1:"Chaarmikha Nagalla",
    executive2:"Samhita Vemuri",
  },
  {
    title: "DISEC",
    subtitle: "DISARMAMENT & INTERNATIONAL SECURITY COMMITTEE",
    description:
      "DISEC in Model United Nations addresses disarmament, global security, and non-proliferation. Delegates, representing diverse nations, discuss nuclear disarmament, arms control, and counter-terrorism. Through research and resolution drafting, DISEC aims to establish measures promoting international security, reducing arms race tensions, and fostering cooperation among nations to address critical global challenges.",
    icon: "mdi:security",
    popup_title: "DISEC Agenda",
    popup_agenda1: "Deliberation on curbing Outer Space Arms Race with special emphasis on reducing space threats",
    popup_agenda2: "Enhancing transparency for peaceful exploration in Outer Space",
    executive1:"Eswar Chava",
    executive2:"Minnila Nalluri",
  },
  {
    title: "WB",
    subtitle: "WORLD BANK",
    description:
      "In MUN, the World Bank Committee tackles global economic issues. Delegates, from member states, focus on development, poverty reduction, infrastructure investment, and financial stability. Through research and resolution drafting, they aim to create policies promoting economic growth, reducing inequalities, and alleviating global poverty, fostering collaboration and innovative solutions.",
    icon: "mdi:money",
    popup_title: "WB Agenda",
    popup_agenda1: "Discussing on Safegaurding Financial Stability Amid High ",
    popup_agenda2: "Inflation and Geopolitical Risks- 2023-2025",
    executive1:"Afnaan Omer Khan",
    executive2:"Abhishek Arul",
  },
  {
    title: "IP",
    subtitle: "INTERNATIONAL PRESS",
    description:
      "The International Press Committee in Model United Nations reports on conference proceedings. Participants, embodying journalists and media personnel, gather information, conduct interviews, and produce news articles and multimedia content. This vital role disseminates information, fosters dialogue, and documents diverse perspectives and diplomatic efforts, contributing to the Model UN conference.",
    icon: "mdi:camera",
    popup_title: "IP Agenda",
    popup_agenda1: "No Agenda",
    popup_agenda2: "No Agenda",
    executive1:"Preethi Polu",
    executive2:"Akanksha Saxena",
  },
];
---

<ContentSection title="Committees" id="committee">
  <Fragment slot="lead">Our Committee Selection</Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    {
      features.map(({ title, subtitle, description, icon,popup_title,popup_agenda1,popup_agenda2,executive1,executive2 }) => (
        <li class="flex flex-col items-center gap-5 border border-default bg-offset bg-white bg-opacity-20 p-6 text-white drop-shadow-lg backdrop-blur-lg">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3 text-white">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center font-extrabold text-sm">{subtitle}</p>
          <p class="text-white  text-sm  lg:text-justify">{description}</p>
          <Modal
          title = {popup_title}
          popup_agenda1 = {popup_agenda1}
          popup_agenda2 = {popup_agenda2}
          executive1 = {executive1}
          executive2 = {executive2}
          />
        </li>
      ))
    }
  </ul>
</ContentSection>
